<% provide(:title, "Home") %>
<h1>Examen 1 - Problema 1</h1>
<h3>María Ximena Acuña Mosquera</h3>
<p><%= link_to 'Basics', basics_path %></p>
<p><%= link_to 'Ruby', ruby_path %></p>
<p><%= link_to 'Git', git_path %></p>
<!-- Configurando la zona horaria -->
<% Time.zone = 'Bogota' %>
<h2 class="fecha"><%= Time.zone.now %></h2>
