// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "Georgia"
}

.fecha {
  color: #339988;
  text-align: center;
}

h1 {
  text-align: center;
}

table, th, td {
   border: 1px solid black;
}